/*1366×768*/
.app-container {
    margin: 0;
    padding: 0;
    background: rgba(100,100,0,0.07);
}

.header {
    position: relative;
    width: 100%;
    min-width: 1016px;
    height: 50px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);

    background: rgba(0, 163, 122, 0.87); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,163,122,0.42), rgba(0,163,122,0.87)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,163,122,0.42), rgba(0,163,122,0.87)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,163,122,0.42), rgba(0,163,122,0.87)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,163,122,0.42), rgba(0,163,122,0.87)); /* Standard syntax */
}
.header .css-book-title {
    position: absolute;
    left: 10px;
    top: 5px;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(255,255,255,0.85);
}
.header .header-title {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(255,255,255,0.85);
}

.body {
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: 4px;
    min-width: 1366px;
}

.body .left-margin {
    position: absolute;
    width: 350px;
    min-width: 350px;
    height: 100%;
    z-index: 10;
}

.body .center-margin {
    position: absolute;
    left: 350px;
    height: 100%;
    width: calc(100% - 350px);
    min-width: 1016px;
    overflow-y: scroll;
}
.body .center-margin::-webkit-scrollbar {
    display: none;
}

.body .right-margin {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
}

.footer {
    height: 50px;
    width: 100%;
    min-width: 1016px;

    background: rgba(0,0,0,0.2); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)); /* Standard syntax */
}