
.css-twisty-wrap {
    width: calc(100% - 40px);
    padding: 2% 0 2% 2%;
}

.css-title {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}

.css-twisty-border {
    position: relative;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    background: rgba(0,0,0,0.05);
}