
.chapterSelectContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 167, 230, 0.12);
    -webkit-box-shadow: 1px 0 2px rgba(100,100,100,0.5);
    -moz-box-shadow: 1px 0 2px rgba(100,100,100,0.5);
    box-shadow: 1px 0 2px rgba(100,100,100,0.5);
}

.header {
    position: relative;
    width: 100%;
    height: 40px;

    background: rgba(2, 137, 209, 0.87); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(2, 137, 209, 0.42), rgba(2, 137, 209, 0.87)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(2, 137, 209, 0.42), rgba(2, 137, 209, 0.87)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(2, 137, 209, 0.42), rgba(2, 137, 209, 0.87)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(2, 137, 209, 0.42), rgba(2, 137, 209, 0.87)); /* Standard syntax */
}
.header .header-title {
    position: absolute;
    top: 8px;
    left: 15px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    pointer-events: none;
}
.header select {
    position: absolute;
    top: 5px;
    padding: 5px;
    right: 10px;
    width: 96px;
    height: 30px;

    color: white;
    font-style: italic;
    font-size: 14px;
    font-family: sans-serif;
    text-align: right;

    -webkit-appearance: none;
    appearance: none;
    outline:none;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid rgba(255,255,255,0.2);
    background: transparent no-repeat right center;
}

.header select::-ms-expand { display: none; }
.header .select-arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: 18px;
    right: 16px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    pointer-events: none;
}

.chapter-content {
    padding: 10px;
    margin-top: 10px;
}
.chapter-content .chapter-description {
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(0,0,0,0.8);
    padding-bottom: 5px;
    border-bottom: 1.5px solid rgba(2, 137, 209, 0.32);
    pointer-events: none;
}
.chapter-content ul {
    margin-top: 30px;
    overflow-y: scroll;
}
.chapter-content ul::-webkit-scrollbar {
    display: none;
}

.css-section-wrap {
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}
.css-section-wrap:not(:first-child) {
    margin-top: 10px;
}

.css-concept-wrap {
    margin-left: 20px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5em;
}