
<div class="chapterSelectContainer">

    <div class="header">

        <span class="header-title"></span>

        <select (change)="onChangeOption($event)">
            <option
                *ngFor="#dropdown of dropdownList; #i = index;"
                [value]="i"
            >{{dropdown.title}}</option>
        </select>
        <div class="select-arrow"></div>
    </div>

    <div class="chapter-content">

        <div *ngIf="!!activeChapter" class="chapter-description">{{activeChapter.title}}: {{activeChapter.description}}</div>

        <ul *ngIf="!!activeChapter">

            <div *ngFor="#section of activeChapter.sections; #s = index;">

                <li class="css-section-wrap">
                    <span>{{section.title}}</span>
                </li>

                <li class="css-concept-wrap"
                    *ngFor="#concept of section.concepts; #i = index"
                >
                    <span>{{concept.title}}</span>
                </li>

            </div>

        </ul>
    </div>

</div>