.css-select-mode {
    position: absolute;
    right: 0;
    top: -28px;
}
.css-text {
    width: 90%;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    font-family: "Courier New";
    font-size: 18px;
    overflow-y: scroll;
    color: rgba(255,255,255,0.87);
    outline: none;
    cursor: text;
}
.css-text::-webkit-scrollbar {
    display: none;
}
textarea.css-text {
    width: 96%;
    padding: 0 2% 0 2%;
    text-align: left;
}
.twisty-border {
    border-left: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
.css-select-mode > input {
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,0.87);
    outline: none;
    cursor: pointer;
}
.css-select-mode > input.selected {
    color: rgba(0,0,0,0.3);
}
.css-concept-wrap {
    padding: 20px;
    min-height: 200px;
}